@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Poppins', sans-serif;
    background-color: grey;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo a {
    color: aliceblue;
    font-size: 2.0rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navlinks {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navlinks a {
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 20px;
    float: left;
    display: block;
    padding: 14px 10px;
}

.navbar .navlinks a:hover {
    color: #f1c40f;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 14px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropdown-content {
    display: none;
}

/* Help me fix the DropDown Issue */