@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Poppins", sans-serif;
  background-color: grey;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo a {
  color: aliceblue;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

span {
  color: #f1c40f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navlinks {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navlinks a {
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
  float: left;
  display: block;
  padding: 14px 10px;
}

.navbar .navlinks a:hover {
  color: #f1c40f;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  color: aliceblue;
  padding: 14px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropdown-content {
  display: none;
}

/* Help me fix the DropDown Issue */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.hero-content {
  width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.2rem;
  font-weight: 500;
}

.hero-content .cv {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  border-style: ridge;
  border-color: #f1c40f;
}

.hero-content .cv a {
  text-decoration: none;
  color: burlywood;
}

.hero-content .cv a:hover {
  color: #f1c40f;
}

/* My Picture */
.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    height: 400px;
    border-radius: 50% 70%;
}

/* Overview */
.about {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
}

.about h1 {
    font-size: 2rem;
    font-weight: 700;
}

.about .overview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about .overview p {
    font-size: 1.5rem;
    font-weight: 390;
}

/* Achievements */
.achievements {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
}

.achievement {
    padding: 20px;
    border: 1px ridge #f1c40f;
    border-radius: 5px;
    
}

.position {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline {
    font-size: 1rem;
    margin-bottom: 10px;
}

.description {
    list-style-type: none;
    padding-left: 0;
}

.description li {
    margin-bottom: 5px;
    line-height: 1.5;
}

/* Projects */
.projects {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.project {
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 300px;
}

.project-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-details {
  color: #777;
  margin-bottom: 10px;
}

.project-tools {
  margin-bottom: 10px;
}

.project-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #f1c40f;
}

.projects::-webkit-scrollbar {
  display: none;
}
